*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


body {
 
  background: #f4f4f4;
  
}

.loading{
  
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #52ff63; 
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 4.2px auto;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.pageLoading{
  
    border: 5px solid #dcdcdc; 
    border-top: 5px solid #b76fff; 
    border-radius: 50%;
    width: 40px;
    height: 40px;
   position: absolute;
   top: 40%;
   left: 50%;
   transform: translate(-50%,-50%);
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .btc{
    padding: 5px 20px;
    font-size: 14px;
    margin-right: 10px;
}
.active{
    background: #5ad767;
}


